:root{
    --color-p: rgb(14, 17, 22);
    --color-p-op: rgba(14, 17, 22, 0.3);
    --color-s: rgb(245, 245, 245);
    --color-a: #E0BC75;
    --color-a-op: #e0bc7574;
}
*{
    font-family: "Playfair Display", system-ui;
}

/* FONTS  */
.montserrat{
    font-family: "Montserrat", sans-serif;
}
.playfair-display{
    font-family: "Playfair Display", system-ui;
}
.allura{
    font-family: "Allura", system-ui;
    font-weight: 100;
}

.color-p{
    color: var(--color-p);
}
.color-s{
    color: var(--color-s);
}
.color-a{
    color: var(--color-a);
}
.text-shadow-custom{
    text-shadow: 2px 2px var(--color-s);
}
.text-shadow-custom-p{
    text-shadow: 2px 2px var(--color-p);
}

.transition{
    transition: .5s;
}

body{
    background-color: var(--color-s);
}

/* NAV  */
.nav-link{
    font-size: large;
    font-weight: 500;
}

.btn-contacts{
    padding: 5px 10px;
    background-color: var(--color-a);
}

.nav-scrolled{
    background-color: var(--color-s);
    animation: fade-down .5s;
}

@keyframes fade-down {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}





/* HEADER  */
.bg-hero{
    /* background:linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(245,245,245,0.2) 10%, transparent 100%), url(./media/vatican_light.jpg); */
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./media/vatican_light.jpg);
    height: 700px;
    max-height: 100vh;
    background-size: cover;
    background-position: top center;
}

.title-container{
    height: 100%;
    width: 100%;
    /* backdrop-filter: grayscale(100%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-cus{
    padding: 50px;
    background-color: var(--color-a-op);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}


/* Sezione Chi Siamo  */
.line-r{
    position: relative;
}

.line-r::after{
    content: "";
    position:absolute;
    height: 2px;
    width: 50px;
    background-color: var(--color-a);
    top: calc(50% - 1px);
    left: calc(100% + 20px);
}

.line-l{
    position: relative;
}

.line-l::before{
    content: "";
    position:absolute;
    height: 2px;
    width: 50px;
    background-color: var(--color-a);
    top: calc(50% - 1px);
    right: calc(100% + 20px);
}

.btn-cta{
    font-family: "Montserrat", sans-serif;
    padding: 10px 50px;
    background-color: var(--color-a);
    color: var(--color-s);
    font-weight: 500;
    border: none;
}

.img-1{
    width: 70%;
    aspect-ratio: 1;
    background-image: url(./media/piazza.jpg);
    background-size: cover;
    background-position: center;
}
.img-2{
    width: 100%;
    aspect-ratio: 1;
    background-image: url(./media/colosseo.jpg);
    background-size: cover;
    background-position: center;
}
.img-3{
    width: 50%;
    aspect-ratio: 1;
    background-image: url(./media/chad-greiter--0gBnnMdQPw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.img-4{
    width: 70%;
    aspect-ratio: 1;
    background-image: url(./media/statue.jpg);
    background-size: cover;
    background-position: center;
}

/* SEZIONE REVIEW  */
.bg-space{
    background-color: rgb(220, 220, 220);
}

.review{
    height: 400px;
    width: 600px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-review{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--color-a);
}



/* SENZIONE COLAZIONE  */
.box-breakfast{
    width: 100%;
    aspect-ratio: 1;
    border: 7px double rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-services{
    width: 100%;
    aspect-ratio: 1/0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 50px rgba(128, 128, 128, 0.3);
}

.icon-box{
    aspect-ratio: 1/1;
    border: 4px double rgba(128, 128, 128, 0.5);
    padding: 5px;
    margin-bottom: 30px;
}

/* FOOTER  */
.bg-footer{
    background-color: rgb(220, 220, 220);
}

/* DOVE SIAMO ---------------------------------------------------------------------  */

.mapFrame{
    width: 100%;
    height: 500px;
}

.full-line{
    position: relative;
}
.full-line::after{
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-a);
}

.icon-box-doveSiamo{
    aspect-ratio: 1/1;
    width: 200px;
    padding: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-a);
}

.icon-box-doveSiamo-2{
    position: relative;
    z-index: 2;
    aspect-ratio: 1/1;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--color-a);
    background-color: var(--color-s);
}